html, body {
    background-color: #eee;
      background-image:url('/assets/images/Battle_Ship_by_Radojavor.jpg');
}
body {
    padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */

}
.container > footer p {
    text-align: center; /* center align it with the container */
}
.container {
    width: 830px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

.containerAfterPositioning {
    width: 750px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}


.onChat{

     width:730px;
}

/* The white background content wrapper */
.content {
    background-color: #fff;
    padding: 20px;
    margin: 0 -180px; /* negative indent the amount of the padding to maintain the grid system */
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
            box-shadow: 0 1px 2px rgba(0,0,0,.15);
    min-height: 10px;

}

/* Page header tweaks */
.page-header {
    background-color: #f5f5f5;
    padding: 20px 20px 10px;
    margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content {
    min-height: 350px;
}

.span4 {
    min-height: 300px;
}

/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
    padding-left: 9px;
   /* margin-left: 10px;*/
    border-left: 1px solid #eee;
}

.topbar .btn {
    border: 0;
}

.topbar p {
    color: #888;
}



#main {
    position: relative;
    overflow: hidden;
}

#onError, #onChat {
    display: none;
}

#messages {
    position: absolute;
    bottom: 60px;
}

#talk {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 40px
}

.message {
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}

.message span {
    width: 200px;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -1px;
}

.message p {
    display: inline-block;
    margin: 0;
    width: 200px;
}
.chat_message span {
    width: 70px;
    overflow: hidden;
    text-align: right;
    font-weight: bold;
    margin-right: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -1px;
}

.chat_message p {
    display: inline-block;
    margin: 0;
    width: 500px;
}

.message.me {
    background: #FFC;
}

.message.join, .message.quit {
    background: #D9E7FB;
}

.tile{
    float: left;
    width:30px;
    height:30px;
    display:block;
    overflow:hidden;
    border-style: solid;
    border-width: 1px;
    background-image:url('/assets/images/textura-de-agua_21615.jpg');
}
.boardRow{
    clear:both;
    margin: 0 10px;
}


#buttom{
float:right;

}

.hit{
     background-color: rgb(255,255,0);
}

.win{
     background-color: #f55;
   }

.sunk{
background:rgb(255,0,0);
}

.miss{
        background-image:url('/assets/images/textura-de-agua_21615.jpg');
}

.ship{
    background-image:url('/assets/images/aircraftCarrier.png');

    background-repeat:no-repeat;

}

.aircraftCarrier{
    background-image:url('/assets/images/aircraftCarrier.png');

    background-repeat:no-repeat;

}


.battleship{
    background-image:url('/assets/images/battleship.png');

    background-repeat:no-repeat;

}

.destroyer{
    background-image:url('/assets/images/destroyer.png');

    background-repeat:no-repeat;

}

.patrolShip{
    background-image:url('/assets/images/patrolShip.png');

    background-repeat:no-repeat;

}

.submarine{
    background-image:url('/assets/images/submarine.png');

    background-repeat:no-repeat;

}

.aircraftCarrierVertical{
    background-image:url('/assets/images/aircraftCarrierVertical.png');

    background-repeat:no-repeat;

}


.battleshipVertical{
    background-image:url('/assets/images/battleshipVertical.png');

    background-repeat:no-repeat;

}

.destroyerVertical{
    background-image:url('/assets/images/destroyerVertical.png');

    background-repeat:no-repeat;

}

.patrolShipVertical{
    background-image:url('/assets/images/patrolShipVertical.png');

    background-repeat:no-repeat;

}

.submarineVertical{
    background-image:url('/assets/images/submarineVertical.png');

    background-repeat:no-repeat;

}




.My_tile{
    float: left;
    width:30px;
    height:30px;
    display:block;
    overflow:hidden;
    border-style: solid;
    border-width: 1px;
}
.My_boardRow{
    clear:both;
    margin: 0 40px;
}
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.draggableShip{
    z-index: 9999;
    cursor: move;
}
.vertical{
    transform: rotate(90deg);
    transform-origin:15% 50%;/* o 10% 60% */
    -ms-transform: rotate(90deg); /* IE 9 */
    -ms-transform-origin:15% 50%;/* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari and Chrome */
    -webkit-transform-origin:15% 50%; /* Safari and Chrome */
    -moz-transform: rotate(90deg); /* Firefox */
    -moz-transform-origin: 15% 50%; /* Firefox */
    -o-transform: rotate(90deg); /* Opera */
    -o-transform-origin: 15% 50%; /* Opera */
}

#blackback{
       position:fixed;
       width:100%;
       height:100%;
       background:black;
       display:none;
       z-index:1;
       opacity:0.8;
}

#popup{
	position:absolute;
    background: url('/assets/images/gray_bg.gif') repeat-y 0 0;
	display:none;
	z-index:2;
	left:30%;
	top:20%;
    height: 50%;
    width: 40%;
    line-height: 48px;
    border: 1px;
    -webkit-box-shadow: 0px 1px #717171;
    box-shadow: 0px 1px #717171;
    border-radius: 12px 12px 12px 12px;

}

#popup h2{
        margin: 25% 15% 25% 15%;
       font: 36px/36px  Helvetica, Arial, sans-serif;
       color: black;
       font-weight: bold;
}

#popup img{
	float:right;
}

.button.blue:hover {
text-decoration: none;
    background-image: linear-gradient(top, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -o-linear-gradient(top, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -moz-linear-gradient(top, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -webkit-linear-gradient(top, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -ms-linear-gradient(top, rgb(24,113,143) 29%, rgb(76,151,168) 65%);

    background-image: -webkit-gradient(
    	linear,
    	left top,
    	left bottom,
    	color-stop(0.29, rgb(24,113,143)),
    	color-stop(0.65, rgb(76,151,168))
    );

}

.button.main {
   margin-top: 5%;
    margin-left: -6%;
    margin-bottom: 20%;
    font-size: 21px;
    height: 47px;
    width: 135px;
    line-height: 48px;
    border: 0px;
    display: block;
}

.button.blue {
    color: white;
    text-shadow: 0px 1px black;
    background-image: linear-gradient(bottom, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -o-linear-gradient(bottom, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -moz-linear-gradient(bottom, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -webkit-linear-gradient(bottom, rgb(24,113,143) 29%, rgb(76,151,168) 65%);
    background-image: -ms-linear-gradient(bottom, rgb(24,113,143) 29%, rgb(76,151,168) 65%);

    background-image: -webkit-gradient(
    	linear,
    	left bottom,
    	left top,
    	color-stop(0.29, rgb(24,113,143)),
    	color-stop(0.65, rgb(76,151,168))
    );

}

.button {
display: inline-block;
font: 12px/29px 'ProximaNova', Helvetica, arial;
text-align: center;
border-radius: 10px;
font-weight: bold;
text-shadow: 0px 2px rgba(1, 1, 1, 0.5);
color: black;
text-transform: uppercase;
border-color: #A4A4A4;

}

#playbutton {
    display: block;
    margin-left: 32%;
}