@(username: String,key:String)

@main(username) {
<script src="@routes.Assets.at("javascripts/h5utils.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/MiscFuncs.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/battleship-bot.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/battleship-bot.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/data.js")" type="text/javascript"></script>

    <div class="page-header">
        <h1>Welcome to the Battle room <small>You are captain @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    <div id="onChat" class="row onChat" >
        <div class="span10" id="My_board">
        </div>
        <div class="span10" id="board" style="display: none;">

        </div>
        <div class="span2">
            <h2>Players</h2>
            <ul id="members">
            </ul>
        </div>
        <div class="span4" id="shipyard">
            <!--<div id="dragAndDRop">
             <div id="ship1Div" draggable="true" class="draggableShip" ondragstart="dragIt('ship1Div',event);"  onclick="toggleDirection(this)" horizontal="true">
                <img id="ship1" src="@routes.Assets.at("images/aircraftCarrier.png")">
            </div>
            <div id="ship2Div" draggable="true" class="draggableShip" ondragstart="dragIt('ship2Div',event);"  onclick="toggleDirection(this)" horizontal="true">
                <img id="ship4" src="@routes.Assets.at("images/Ship.png")">
            </div>
            </div>  -->

        </div>
        <div id="buttom">
            <input class="btn" onclick="ready()" value="Ready to play!">
        </div>

        <div class="span4" id="main" style="display: none;">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div><input type="checkbox" id="autoplay" value="Autoplay" onClick=setAutoplay() style="display: none;"/></div>
    </div>

<div id='blackback'></div>
<div id='popup'>

</div>
    <script type="text/javascript" charset="utf-8">

      conn=new WsConnection("@routes.Application.battle(key,username).webSocketURL(request)",chatRecieve)

        function toggle(){
        toggleVisibility('popup');
        toggleVisibility('blackback');
        }


        function ready(){
                    bot = new BattleshipBot();
                    document.getElementById("board").style.display ="block";
                    document.getElementById("main").style.display ="block";
                    document.getElementById("shipyard").style.display ="none";
                    document.getElementById("buttom").style.display ="none";
                    $("#onChat").removeClass('onChat');


            readyToPlay()


        }

    function setAutoplay(){
        if(document.getElementById("autoplay").checked==1){
          /*  conn.ws({send:{autoplay: true}})
            console.log("Its true!");
        }else{
            conn.ws({send:{autoplay: false}})  */
        }


    }

      function chatRecieve(event) {
          var data = JSON.parse(event.data)
          var letters = new Array("A","B","C","D","E","F","G","H","I","J");
          // Handle errors
          if(data.error) {
              conn.close()
              $("#onError span").text(data.error)
              $("#onError").show()
              return
          } else {
              $("#onChat").show()
          }

          if(data.kind=="autoplay"){

             var point = bot.suggest();
             var letterNumber =0;
             for(var k=0;k<letters.length;k++){
                 if(point.x.equals(k)){
                     letterNumber=k;
                     break;
                 }
             }
             console.log("HEY"+point);
             attack(letters[letterNumber]+point.y.toString());
          } else{

          // Create the message element
          var el = $('<div class="message"><span></span><p></p></div>')
          $("span", el).text(data.user+":")
          $("p", el).text(data.message)
          $(el).addClass(data.kind)

          if(data.user == "@username") $(el).addClass('me')
          $('#messages').append(el)

          // Update the members list
          $("#members").html('')
          $(data.members).each(function() {
              $("#members").append('<li>' + this + '</li>')
          })

          }


          if(data.data){

              var json=JSON.parse(data.data)

      console.log(json);
      //+++++++++++++++++++++++++++++Strategy++++++++++++++++++++++++++++++++++++++//
        if(json.type=='strategy'){
      for(x=0;x < json.shipPositions.length;x++){

        if(json.orientation=="true"){
        $('#My_board_'+json.shipPositions[x]).addClass(json.shipName);

        div ='My_board_'+json.shipPositions[x];

        document.getElementById(div).style.backgroundPosition = -32*x+'px 0px';
         }else{

        $('#My_board_'+json.shipPositions[x]).addClass(json.shipName+'Vertical');

        div ='My_board_'+json.shipPositions[x];
        document.getElementById(div).style.backgroundPosition = '0px'+' '+-32*x+"px";

        }
        }
        }
        //++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++//
        //++++++++++++++++++++++++++++++++++++attack++++++++++++++++++++++++++++++++++++++++++++++//

        //si me atacaron
        if(json.board == "@username"){
                   if(json.state == 'sunk'){

        for(positions in json.shipPositions){
        $('#My_board_'+json.tile).removeClass('hit');
        $('#My_board_'+json.shipPositions[positions]).addClass(json.state);

         }
        } else{


        $('#My_board_'+json.tile).addClass(json.state);

         }

        //si ataque yo
        }else {

            var letterPos = json.tile;
        var letritas=letterPos.substring(0,1);

            var letterIndex = 0;
            for(var j=0;j<letters.length;j++) {
                if(letters[j]==letritas){
                    letterIndex=j;
                }
                break;
            }

        if(json.state == 'sunk'){

            bot.update(letterIndex+1,json.tile.substring(1),json.shipName);

       for(positions in json.shipPositions){
        $('#My_board_'+json.tile).removeClass('hit');
        $('#'+json.shipPositions[positions]).addClass(json.state);

        }

        }else{
            bot.update(letterIndex+1,json.tile.substring(1),json.state);
        $('#'+json.tile).addClass(json.state);

        }

        }
          }
      }



      var handleReturnKey = function(e) {
          if(e.charCode == 13 || e.keyCode == 13) {
              e.preventDefault()
              conn.ws({send:{text: $("#talk").val()},beforeSend:function(){$("#talk").val('')}})
          }
      }
      $("#talk").keypress(handleReturnKey)

    </script>
}