@(username: String,key:String)

@main(username) {
    
    <div class="page-header">
        <h1>Welcome to the Battle room <small>You are captain @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    <div id="onChat" class="row" >
        <div class="span10" id="My_board">
        </div>
        <div class="span10" id="board" style="display: none;">

        </div>
        <div class="span2">
            <h2>Players</h2>
            <ul id="members">
            </ul>
        </div>
        <div class="span4" id="images">
            <div id="dragAndDRop">
                <img id="ship4" src="@routes.Assets.at("images/Ship.png")" draggable="true" ondragstart="dragIt(event);">
            </div>
            <input class="btn" onclick="ready()">
        </div>

        <div class="span4" id="main" style="display: none;">
            <div id="messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      conn=new WsConnection("@routes.Application.battle(key,username).webSocketURL(request)",chatRecieve)

         function ready(){

                    document.getElementById("board").style.display ="block";
                    document.getElementById("main").style.display ="block";
                    document.getElementById("images").style.display ="none";
        }

      function chatRecieve(event) {
          var data = JSON.parse(event.data)

          // Handle errors
          if(data.error) {
              conn.close()
              $("#onError span").text(data.error)
              $("#onError").show()
              return
          } else {
              $("#onChat").show()
          }

          // Create the message element
          var el = $('<div class="message"><span></span><p></p></div>')
          $("span", el).text(data.user+":")
          $("p", el).text(data.message)
          $(el).addClass(data.kind)

          if(data.user == "@username") $(el).addClass('me')
          $('#messages').append(el)

          // Update the members list
          $("#members").html('')
          $(data.members).each(function() {
              $("#members").append('<li>' + this + '</li>')
          })


          if(data.data){

              var json=JSON.parse(data.data)


      for(x=0;x < json.length;x++){
                 $('#My_board_'+json[x]).addClass('ship');
        }
        if(json.board == "@username"){
                   if(json.state == 'sunk'){

        for(positions in json.shipPositions){
        $('#My_board_'+json.shipPositions[positions]).addClass(json.state);

         }
        } else{
                 console.log(json)
        $('#My_board_'+json.tile).removeClass('ship');
        $('#My_board_'+json.tile).addClass(json.state);

         }

        }else {

        if(json.state == 'sunk'){


       for(positions in json.shipPositions){
        $('#'+json.shipPositions[positions]).addClass(json.state);

        }

        }else{
        $('#'+json.tile).addClass(json.state);

        }

        }
          }
      }

      var handleReturnKey = function(e) {
          if(e.charCode == 13 || e.keyCode == 13) {
              e.preventDefault()
              conn.ws({send:{text: $("#talk").val()},beforeSend:function(){$("#talk").val('')}})
          }
      }
      $("#talk").keypress(handleReturnKey)

    </script>
}