@(username: String)

@main(username) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/csshelp.css")">
    <div class="page-header">
        <h1>Welcome to the chat room <small>You are chatting as @username</small></h1>
    </div>
    
    <div id="onError" class="alert-message error">
        <p>
            <strong>Oops!</strong> <span></span>
        </p>
    </div>
    
    <div id="onChat" class="row">
        <div class="span10" id="main">
            <div id="chat_messages">
            </div>
            <textarea id="talk"></textarea>
        </div>
        <div class="span4">
            <h2>Members</h2>
            <ul id="members">
            </ul>
            <button id="playbutton" class="button blue main" onclick="play()">Play</button>
        </div>
    </div>
    
    <script type="text/javascript" charset="utf-8">
        conn=new WsConnection("@routes.Application.chat(username).webSocketURL(request)",chatRecieve)

        function chatRecieve(event) {
            var data = JSON.parse(event.data)
                
                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }
                
                // Create the message element
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)
                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if(data.user == '@username') $(el).addClass('me')
                $('#chat_messages').append(el)
                
                // Update the members list
                $("#members").html('') 
                $(data.members).each(function() {
                    $("#members").append('<li>' + this + '</li>')
                })
                if(data.data){
                      var json=JSON.parse(data.data)
                    if(json.url){window.location.href=json.url}

                }
            }

        var handleReturnKey = function(e) {
            if(e.charCode == 13 || e.keyCode == 13) {
                e.preventDefault()
                conn.ws({send:{text: $("#talk").val()},beforeSend:function(){$("#talk").val('')}})
            }
        }
        $("#talk").keypress(handleReturnKey)

        function play(){
            conn.ws({send:{play: "play"}})
        }
    
    </script>
    
}