
@main(null) {
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/login.css")">

    @if(flash.containsKey("error")) {
        
        <div class="alert-message error">
            <p>
                <strong>Oops!</strong> @flash.get("error")
            </p>
        </div>
        
    }
        

    <div class="logo">
        <img src="/assets/images/name.png" alt="Logo">
    </div>
    <div class = "loginContent">
        <h3> THIS IS WAR!</h3>
        <p>
           We all knew it would eventually come to this
        </p>
        <form action="@routes.Application.chatRoom()" class="pull-right">
                <input id="username" name="username" class="input-small" type="text" placeholder="Username">
                <button class="button blue main" type="submit">Sign in</button>
        </form>
    </div>

    
}