@(connected: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>Lol, I sunk your ship!</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/functions.js")" type="text/javascript"></script>

    </head>
    <body>
        
        <div class="topbar">
            <div class="fill">

                    
                    @if(connected != null) {
                         <div class="container">
                            <a class="brand" href="@routes.Application.index()">Lol, I sunk your ship!</a>
                            <p class="pull-right">
                                Logged in as @connected —
                                <a href="@routes.Application.index()">Disconnect</a>
                            </p>
                         </div>
                    }
                    

            </div>
        </div>
        <div id='blackback'></div>

        <div id="container" class="container">

            <div class="content">
                @content
            </div>

            <footer>
                <p>
                    Lol, I sunk your ship!
                </p>
            </footer>

        </div>
        
    </body>
</html>
